@font-face {
    font-family: 'nazanin';
    src: url('./../fonts/B-NAZANIN.TTF');
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: black;
}

input[type=text] {
    color: white;
    border: none;
}

.planet {
    display: inline-block;
}

span {
    padding: 0 5px 0 5px;
    font-size: 22px;
    font-family: 'nazanin';
}

.name {
    /* color: white; */
    text-align: right;
    font-weight: bold;
}
.name::after {
    content: ':';
}
.weight {
    /* color: white; */
    font-weight: bold;
    color: blue;
}
.weight::after {
    content: '   کیلوگرم  ';
}
.container {
    text-align: center;
    direction: rtl;
    border: 1px solid white;
    background-color: white;
    border-radius: 8px;
}

div:not(.container){
    position: absolute;
    transform: translate(-50%, -50%);
}

#sun {
    top: 0;
    left: 50%;
    transform: translateX(-50%) !important;
}

#mercury {
    top: 15%;
    left: 16%;
}

#venus {
    top: 40%;
    left: 28%;
}

#earth {
    top: 55%;
    left: 50%;
}

div .container {
    
}

#moon {
    top: 40%;
    left: 72%;
}

#mars {
    top: 15%;
    left: 84%;
}

#jupiter {
    top: 60%;
    left: 16%;
}

#saturn {
    top: 75%;
    left: 33%;
}

#uranus {
    top: 75%;
    left: 67%;
}

#neptune {
    top: 60%;
    left: 84%;
}